@page "/UserInfo"
@attribute [Authorize]

@using System.Security.Claims;

<h3 class="mb-5">User Info</h3>

@if (user is not null)
{
    <h4 class="mb-2 p-2">@user.Identity?.Name</h4>
    <div class="mb-2 p-2">
        Is Authenticated: @user.Identity?.IsAuthenticated
    </div>
    <div class="mb-2 p-2">
        Authentication Type: @user.Identity?.AuthenticationType
    </div>
    <div class="mb-2 p-2">
        Admin Role: @user.IsInRole("Admin")
    </div>
    <div class="mb-2 p-2">
        Teacher Role: @user.IsInRole("Teacher")
    </div>
    <div class="mb-2 p-2">
        Student Role: @user.IsInRole("Student")
    </div>

    <div class="mb-2 p-2">
        <h5>Claims</h5>
        @foreach (var claim in user.Claims)
        {
            <span>
                @claim.Type
            </span>
            <span>:</span>
            <span>
                @claim.Value
            </span>
            <br />
        }
    </div>
}
else
{
    <div class="mb-2 p-2">
        No User Exists
    </div>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthTask { get; set; }

    private ClaimsPrincipal user;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthTask;
        user = authState.User;
    }
}
